*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f3d157, #fda085);
    color: black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #fda085;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width:30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.complete-btn{
    background: green;
}

.todo-item {
    padding: 0rem 0.5rem;
}








